@model IEnumerable<Dota2ProTrend.Models.GamePlayerModel>



@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.player.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kills)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.deaths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assists)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hero.heroname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.player.name)
            </td>
            <td>
                @Html.DisplayFor(model => item.kills)
            </td>
            <td>
                @Html.DisplayFor(model => item.deaths)
            </td>
            <td>
                @Html.DisplayFor(model => item.assists)
            </td>
            <td>
                @Html.DisplayFor(model => item.hero.heroname)
            </td>
            <td>
                @foreach (var i in item.items)
                {
  
                         var ss = ("http://cdn.dota2.com/apps/dota2/images/items/" + i.iteminfo.itemurl);
                       
                <img src=@ss width="32" height="24"/> @:&nbsp;&nbsp;
                     }></td>
        </tr>
    }

</table>



<p>
    
</p>
