@model IEnumerable<Dota2ProTrend.Models.GamePlayerModel>



@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.player.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kills)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.deaths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assists)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.player.name)
            </td>
            <td>
                @Html.DisplayFor(model => item.kills)
            </td>
            <td>
                @Html.DisplayFor(model => item.deaths)
            </td>
            <td>
                @Html.DisplayFor(model => item.assists)
            </td>
            <td>
                

            </td>
        </tr>
    }

</table>



<p>
    
</p>
