@model IEnumerable<Dota2ProTrend.Models.Match>



<h2>@ViewBag.Title</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.matchnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.radiantwon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.starttime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gamemode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.matchnumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.radiantwon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.starttime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gamemode)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
          
        </td>
    </tr>
}

</table>
